.weather-app {
  font-family: "Klee One", cursive;
  border: 20px;
  max-width: 900px;
  border: 1px solid;
  margin: 20px auto;
  max-width: 780px;
  border-radius: 10px;
}

h1 {
  color: purple;
  margin: 20px;
  padding-left: 10px;
}

button {
  margin: 20px;
  padding-left: 15px;
  position: relative;
  right: -500px;
  top: -40px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.wind {
  padding: 10px;
}

.row {
  margin: 0 25px;
  padding: 18px;
}
.city-search {
  padding: 30px;
}
.today {
  color: purple;
}
small {
  margin: 20px;
  padding-left: 380px;
}
