.weather-app {
  font-family: "Klee One", cursive;
  border: 20px;
  max-width: 600px;
  border: 1px solid;
  margin: 20px auto;
  border-radius: 10px;
  max-height: 560px;
  background: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
}

h1 {
  color: purple;
  margin: 20px;
  padding-left: 30px;
  padding-top: 20px;
  font-family: "Freckle Face", cursive;
}

button {
  margin: 20px;
  padding-left: 25px;
  position: relative;
  right: -320px;
  top: -50px;
  background-color: #9982b6;
  border-radius: 5px;
  border: 1px solid #630363;
  cursor: pointer;
  color: #ffffff;
  font-family: "Klee One", cursive;
  font-size: 17px;
  text-decoration: none;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  text-transform: capitalize;
}

.wind {
  padding: 10px;
}

.row {
  margin: 0 25px;
  padding: 18px;
}
.city-search {
  padding: 30px;
}
.today {
  color: purple;
}
small {
  margin: 20px;
  padding-left: 500px;
}
.click-button {
  background-color: #2ccc95;
}
